:root {
    --color-black: #000;
    --color-black-type-one: #121212;
    --color-dark-blue: #1D2837;
}

body {
    background: var(--color-black-type-one);
    font-family: "Roboto", sans-serif;
}

.bg-dark-blue {
    background: var(--color-dark-blue);
}